<!DOCTYPE html>
<html>
<head>
	<style>
	p {font-size:140%;margin-top:-10px}
</style>
</head>
<body>

<h1> Denoising Report for:</h1>
<p>{{ img_file }} </p>

<hr>

<h1> Output 'Cleaned' file:</h1>
<p>{{ save_img_file }} </p>

<br>
<p><strong style="background-color:Crimson;color:White;padding:5px">{{ Ntrs }}</strong> TRs detected</p>

<h2> Nuisance signal file:</h2>
<p>{{ tsv_file }} </p>

<h2 style="margin-top:20px">Signals removed: </h2>
	<ul style="margin-top:-10px;font-size:18px">
  {% for item in col_names %}
    <li>{{ item }}</li>
  {% endfor %}
  </ul>

{% if hp_filter %}
	<!-- <h2>High-pass filter applied: Frequencies < {{ hp_filter }} removed </h2> -->
	<p style="margin-top:20px"> <strong style="background-color:Aqua;"> High-pass filter </strong> applied [frequencies < <strong>{{ hp_filter }}</strong> removed] </p>
{% else %}
	<p style="margin-top:20px"> <strong style="background-color:Yellow;"> ***NO additional high-pass filter applied*** </strong> </p>
<p style="margin-left:30px"> Note that if Nuisance regressors contain <strong> low-frequency DRIFT </strong> and if low-frequency <strong>cosines</strong> were not included as Nuisance regressors - drift-like content will be present in 'cleaned' output data!! </p>
{% endif %}

{% if lp_filter %}
	<p style="margin-top:20px"> <strong style="background-color:SeaGreen;"> Low-pass filter </strong> applied [frequencies > <strong>{{ lp_filter }}</strong> removed] </p>
{% else %}
	<p style="margin-top:20px"> <strong> NO </strong> Low-pass filter applied </p>
{% endif %}

<hr>

<h1>Nuisance Regressor Information</h1>
<img src={{ file_design_matrix }} 
	alt="Nuisance Design Matrix" width="{{ x_scale }}px" style="height:890px" >

<img src={{ file_corr_matrix }} 
	alt="Nuisance Corr Matrix" width="{{ mtx_scale }}px" height="{{ mtx_scale }}px" >

<hr>

<h1>Motion Information</h1>
<p style="text-align:center"> <img src={{ file_fd_plot }}
	alt="FD timeseries plot" style="width:1100px;height:367px"> </p>

<hr>

<h1>Data (voxel time series) before and after Nuisance Regression</h1>
<p style="text-align:center"> <img src={{ file_carpet_plot }}
	alt="carpet plots" style="width:1260px" height="{{ carpet_scale }}px"> </p>

<hr>

<h1>Nuisance Regressor Stat Maps</h1>

<h2 style="text-align:center"> <i>Total Nuisance R<sup>2</sup> Map</i> </h2>
<p style="text-align:center"> <img src=" {{ file_rsq_map }} "
	alt="R squared map" style="width:1200px;height:200px"> </p>
<br>

{% for item in file_tstat %}

	<h2 style="text-align:center"> <i> {{ item.name }} </i> Tstat Map</h2>
	<p style="text-align:center"> <img src={{ item.file }}
		alt="{{ item.name }} Map" style="width:1200px;height:200px"> </p>
	<br>
{% endfor %}


</body>
</html>